* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box {
    position: relative;
    margin: 100px 0 0 200px;
    width: 200px;
    height: 50px;
    background-color: teal;
}

.box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 200px;
    height: 50px;
    background-color: red;
}


.item {
    margin: 100px 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    padding: 10px;
    max-width: 230px;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    right: -10%;
    top: -5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

.item::after {
    content: '';
    position: absolute;
    left: -10%;
    bottom: -5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

.img {
    height: 350px;
    width: 200px;
    background-color: greenyellow;
}