body {
    margin: 0 auto;
    max-width: 1000px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.list__item {
    width: 300px;
    height: 250px;
    background-color: teal;
}

@media(max-width: 950px) {
    body {
        background-color: red;
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 650px) {
    body {
        background-color: aqua;
    }
    .list {
        grid-template-columns: 1fr;
    }
}